/test5.py
/test4.py
/test3.py
/test2.py
/test.py
/PhotoDB — копия (4).db
/PhotoDB — копия (3).db
/PhotoDB — копия (2).db
/PhotoDB — копия.db
/PhotoDB.db
/last_opened.json
/thumbnail/
/Media/
/venv/
/settings.json
/test/
/ErrorNames.db
